# Ignore Backend Config directory
.gitignore

#environment variables
Backend/Config/.env
Backend/Config/Cloudinary.config
Backend/Config/ConfigDB

Frontend/src/images

# Ignore node_modules and package-lock.json
node_modules/
package-lock.json

#ignore
.vscode
variables.js
proJSON.json
Frontend/public/Resources/img
Frontend/public/Resources/videos
thunder-collection_MERN ECOMMERCE WBSITE.json