footer {
  position: relative;
  width: 100%;
  padding: 20px;
  background-color: rgb(34, 33, 33);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.leftFooter {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.leftFooter > h4 {
  font-family: "Roboto";
  text-align: center;
  font-size: 1.2vmax;
}
.leftFooter > p {
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.leftFooter > img {
  width: 10vmax;
  margin: 1vmax;
  cursor: pointer;
}

.midFooter {
  width: 60%;
  text-align: center;
  margin: 0.85vmin;

  position: relative;
  width: 50%;
  text-align: center;
  margin: 0.85vmin;
}

.midFooter > h1 {
  font-size: 4vmax;
  font-family: "Roboto";
  color: #8ec5fc;
}
.midFooter > p {
  font-size: 1.2vmax;
  max-width: 60%;
  font-family: "Roboto";
  margin: 1vmax auto;
}

.rightFooter {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rightFooter > h4 {
  font-family: "Roboto";
  font-size: 1.4vmax;
  text-decoration: underline;
}

.rightFooter > a {
  text-decoration: none;
  font-size: 1.3vmax;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
  margin: 0.5vmax;
  transition: all 0.5s;
}

.rightFooter > a:hover {
  color: #eb4034;
  text-decoration: underline;
}

@media screen and (max-width: 1000px) {
  .midFooter > h1 {
    font-size: 3vmax;
    font-family: "Roboto";
    color: #8ec5fc;
  }
}
