.footer {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  flex-wrap: nowrap;
  background: rgba(0, 0, 0, 0.9);
  color: white;
  font-family: sans-serif;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 30px;
}
.leftEle {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.leftEle > h4 {
  font-size: 1.2em;
  padding-top: 10px;
  align-items: center;
  padding-bottom: 10px;
}
.image-down {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 10px;
}
.image-down > img {
  width: 35%;
  height: auto;
}
.mainEle {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
}
.mainEle > h1 {
  font-size: 2em;
  align-items: center;
  font-weight: 800;
}
.mainEle > p {
  font-size: 1em;
  text-align: center;
}
.rightEle {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.rightEle > h4 {
  align-items: center;
  font-size: 1.2em;
}

.rightEle > a {
  font-size: 1em;
  text-decoration: none;
  color: white;
}

.rightEle > a:hover {
  text-decoration: underline;
  color: blue;
}

@media (max-width: 768px) {
  .footer {
    padding-inline: 5px;
  }
  .mainEle > h1 {
    font-size: 1.2em;
    text-align: center;
    font-weight: 600;
  }

  .mainEle > p {
    font-size: 0.6em;
    text-align: center;
  }

  .leftEle > h4 {
    font-size: 0.6em;
    text-align: center;
  }
  .image-down > img {
    padding-bottom: 10px;
  }
  .image-down {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .rightEle > h4 {
    font-size: 0.6em;
    text-align: center;
  }
  .rightEle > a {
    font-size: 0.5em;
    text-align: center;
  }
}
